@use "./base.scss";

/* Base */
a.internal,
a.tag-link,
a[data-href] {
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 6px;
  padding: 2px 6px;
  color: #9fc9d4;
}

/* Hover */
a.internal:hover,
a.tag-link:hover,
a[data-href]:hover {
  background-color: rgba(141, 230, 252, 0.15);
}