@use "./base.scss";

/* Base */
a.internal,
a.tag-link,
a[data-href] {
  background-color: transparent;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  border-radius: 6px;
  padding: 0;
  color: #9FC9D4;
}

/* Hover */
a.internal:hover,
a.tag-link:hover,
a[data-href]:hover {
  box-shadow: 0 0 0 4px rgba(141, 230, 252, 0.15);
  background-color: rgba(141, 230, 252, 0.15);
}