@use "./base.scss";

/* Base */
a.internal,
a.tag-link,
a[data-href] {
  position: relative;
  color: #9fc9d4;
  text-decoration: none;
}

/* Background */
a.internal::after,
a.tag-link::after,
a[data-href]::after {
  content: "";
  position: absolute;
  inset: -2px -4px;
  background: rgba(141, 230, 252, 0.15);
  border-radius: 6px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease;
}

/* Fade */
a.internal:hover::after,
a.tag-link:hover::after,
a[data-href]:hover::after {
  opacity: 1;
}